/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


/* General CSS */
*{
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    background: var(--snowWhite);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--snowWhite);
}

body{
    margin: 0;
}


:root {
--christmasRed:hsl(341, 95%, 32%);
--pineGreen:#00835B;
--snowWhite:#F5F5F5;
--golden: linear-gradient(90deg, #f9f295, #b88a44);

--smSpacer: 1rem;
--mdSpacer: 1.5rem;
--lrgSpacer: 2rem;
}



/* Her koder Arni */

article img{
    width: 100%;
    height: auto;
}

main h2{
    background-color: var(--christmasRed);
    text-align: center;
    padding: var(--lrgSpacer);
}

main h3{
    margin-top: 0;
}

main div, h3, ul, li{
    background-color: var(--pineGreen);
}

div{
    margin: var(--mdSpacer);
    padding: var(--smSpacer);
    border-radius: 6px;
}

article:nth-of-type(1) div ul{
    list-style-type: none;
}

div ul{
    padding: 0;
}

ul li{
    color: var(--snowWhite);
    margin: var(--smSpacer);
}

div p{
    background-color: var(--pineGreen);
    line-height: var(--mdSpacer);
}







/* Her koder Noah */




















/* Her koder Rikke */












@media screen and (min-width:1000px) {
    /* Genreal CSS */


















    /* Her koder Arni */






















    /* Her koder Noah */
































    /* Her koder Rikke */
}