/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


/* General CSS */
*{
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    background: var(--snowWhite);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--snowWhite);
}

body{
    margin: 0;
}

main * {
    line-height: 150%;
}


:root {
--christmasRed:hsl(341, 95%, 32%);
--pineGreen:rgb(0, 131, 91);
--snowWhite:#F5F5F5;
--golden: linear-gradient(90deg, #f9f295, #b88a44);

--smSpacer: 1rem;
--mdSpacer: 1.5rem;
--lrgSpacer: 2rem;
}






/* Her koder Arni */
.event img{
    width: 100%;
    height: auto;
}

.eventMain h2{
    background-color: var(--christmasRed);
    text-align: center;
    padding: var(--lrgSpacer);
}

.eventMain h3{
    margin-top: 0;
}

.eventMain div, h3, ul, li{
    background-color: var(--pineGreen);
}

.eventDiv{
    margin: var(--mdSpacer);
    padding: var(--smSpacer);
    border-radius: 6px;
}

.event:nth-of-type(1) div ul{
    list-style-type: none;
}

.eventDiv ul{
    padding: 0;
}

.eventDiv ul li{
    color: var(--snowWhite);
    margin: var(--smSpacer);
}

.eventDiv p{
    background-color: var(--pineGreen);
    line-height: var(--mdSpacer);
}

p{
    line-height: var(--lrgSpacer);
}

.introtext{
    padding: var(--mdSpacer);
    background: var(--christmasRed);
}

.introtext h1, p {
    background: var(--christmasRed);
}

.eventlink img{
    height: auto;
    width: 100%;
}

section a{
    text-decoration: none;
    color: var(--snowWhite);
    background-color: rgba(0, 131, 91, 0.5);
    padding: var(--smSpacer) var(--lrgSpacer);
    text-align: center;
}

.eventlink{
    background-image: url(../Img/familieBillede.jpg);
    height: 260px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventlink img{
    display: none;
}

.desktop{
    display: none;
}

.eventlink h2{
    display: none;
}

.eventlink p{
    display: none;
}

.eventlink a:nth-of-type(1){
    display: none;
}

.infolink img{
    display: none;
}

.infolink h2{
    display: none;
}

.infolink p{
    display: none;
}

.infolink a:nth-of-type(1){
    display: none;
}

.infolink ul{
    display: none;
}

.buffetlink h2{
    display: none;
}

.buffetlink p{
    display: none;
}

.buffetlink ul{
    display: none;
}

.buffetlink a:nth-of-type(1){
    display: none;
}

.arkadelink h2{
    display: none;
}

.arkadelink p{
    display: none;
}

.arkadelink ul{
    display: none;
}

.arkadelink a:nth-of-type(1){
    display: none;
}

.infolink{
    background-image: url(../Img/parkOppeFra1.jpg);
    height: 260px;
    width: 100%;
    margin-top: var(--lrgSpacer);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buffetlink{
    background-image: url(../Img/buffet.jpg);
    height: 260px;
    width: 100%;
    margin-top: var(--lrgSpacer);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arkadelink{
    background-image: url(../Img/shoppingJuleArkaden.jpg);
    height: 260px;
    width: 100%;
    margin-top: var(--lrgSpacer);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventlink .eventimage{
    display: none;
    background-image: url(../Img/familieBillede.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: auto;
}

.infolink .infoimage{
    display: none;
    background-image: url(../Img/parkOppeFra1.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: auto;
}

.buffetlink .buffetimage{
    display: none;
    background-image: url(../Img/buffet.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: auto;
}

.arkadelink .arkadeimage{
    display: none;
    background-image: url(../Img/shoppingJuleArkaden.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: auto;
}





/* Her koder Noah */
.billetter {
    display: none;
}

.hero-section {
    position: relative;
    height: 260px;
    width: auto;
    background-position: center;
    background-size: cover;
    margin: 0;

}

.hero-section img {
    width: 100%;
    height: auto;
    margin: 0;
}

.hero-section .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--christmasRed);
    padding: var(--mdSpacer) var(--mdSpacer);
    border-radius: 0px;
    text-align: center;
    color: var(--snowWhite);
    font-weight: bold;
    margin: 0;
}

.overlay h1 {
    margin: 0;
}

.mj-boks {
    display: grid;
    background-color: var(--christmasRed);
    color: var(--snowWhite);
    /* border-radius: 8px; */
    text-align: left;
    padding: 1rem;
}

.mj-boks article {
    background: var(--christmasRed);
}

.mj-boks h2 {
    background: var(--christmasRed);
}

.mj-boks-hvad-er-mj {
    display: none;
}

.mj-boks-hvad-er-mj h2 {
    background: var(--christmasRed);
}

.grøn-boks-desktop-1,
.grøn-boks-desktop-2 {
    display: none;
}

.grøn-boks-desktop-1 h2 {
    background-color: var(--pineGreen);
}

.grøn-boks-desktop-1 p {
    background-color: var(--pineGreen);
}

.grøn-boks-desktop-2 h2 {
    background-color: var(--pineGreen);
}

.grøn-boks-desktop-2 p {
    background-color: var(--pineGreen);
}

.grøn-boks-desktop-2 h4 {
    background-color: var(--pineGreen);
}

.grøn-boks-desktop-2 h6 {
    background-color: var(--pineGreen);
}

button {
    color: var(--golden);
    background: var(--golden);
    text-align: center;
    background-position: center;
    cursor: pointer;
    margin: 1rem;
    position: center;
    margin-left: 7rem;
}

.grøn-boks {
    background-color: var(--pineGreen);
    color: var(--snowWhite);
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: left;
    display: block;
}

.grøn-boks li {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.grøn-boks h2{
    background: var(--pineGreen);
}

.grøn-boks h5 {
    background: var(--pineGreen);
}

.grøn-boks p{
    background: var(--pineGreen);
}

.box {
    width: 100%;
    height: 3rem;
    background-color: var(--christmasRed);
    margin-top: 1rem;
    text-align: center;
}

.box button {
    margin-right: 5rem;
    margin-bottom: -10rem;
    position: center;
}


.indgang-billede {
    display: none;
}

.billetter-info {
    display: none;
}

.praktisk-info {
    display: none;
}

.overlay h1 {
    background: var(--christmasRed);
}





/* Her koder Rikke */
header {
    
}

.rBaggrund1 {
    background-image: url(../Img/buffet.jpg);
        height: 260px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
}

.rBaggrund1 h2 {
    background-color: var(--christmasRed);
    padding-top: var(--mdSpacer);
    padding-bottom: var(--mdSpacer);
    padding-left: var(--lrgSpacer);
    padding-right: var(--lrgSpacer);
    border-radius: 6px;
}

.rBaggrund2 {
    background-image: url(../Img/menneskerDerSpiser.jpeg);
    height: 260px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rBaggrund2 h2 {
    background-color: var(--christmasRed);
    padding-top: var(--mdSpacer);
        padding-bottom: var(--mdSpacer);
        padding-left: var(--lrgSpacer);
        padding-right: var(--lrgSpacer);
        border-radius: 6px;
}

.rMenu1 {
    background-color: var(--pineGreen);
    padding: var(--lrgSpacer);
    border-radius: 6px;
    max-width: 100%;
    margin: 25px;
}

.rMenu1 h3 {
    margin-top: 0;
    background: var(--pineGreen);
}

.rMenu1 p {
    background: var(--pineGreen);
}

.rSmallText {
    font-size: 0.5rem;
    background: var(--pineGreen);
}

.rMenu1 ul {
    background: var(--pineGreen);
    padding-left: 20px;
    margin-left: var(--mdSpacer);
    margin-right: var(--mdSpacer);
}

.rMenu1 ul li {
    background: var(--pineGreen);
    margin-bottom: 10px;
    color: var(--snowWhite);
}

.rMenu1 p em {
    background: var(--pineGreen);
}

.rMenu1 h4{
    background: var(--pineGreen);
    margin-bottom: 0;
}

.rRightAlign {
    text-align: end;
}

.rBanner {
    background: var(--christmasRed);
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rBanner h2{
    background: var(--christmasRed);
}

.rBanner a {
text-decoration: none;
color: var(--snowWhite);
background: var(--golden);
padding-top: var(--smSpacer);
padding-bottom: var(--smSpacer);
padding-left: var(--lrgSpacer);
padding-right: var(--lrgSpacer);
border-radius: 6px;
margin-bottom: var(--lrgSpacer);
}

.rMenu2 {
    background-color: var(--pineGreen);
    padding: var(--lrgSpacer);
    border-radius: 6px;
    max-width: 100%;
    margin: 25px;
}

.rMenu2 h3 {
    margin-top: 0;
    background: var(--pineGreen);
}

.rMenu2 p {
    background: var(--pineGreen);
}

.rMenu2 ul {
    background: var(--pineGreen);
    padding-left: 20px;
    margin-top: 5px;
}

.rMenu2 ul li {
    background: var(--pineGreen);
    margin-bottom: 10px;
    color: var(--snowWhite);
}

.rMenu2 p em {
    background: var(--pineGreen);
}

.rMenu2 h4 {
    background: var(--pineGreen);
    margin-bottom: 0;
}


div {
    background: var(--pineGreen);
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    background: var(--christmasRed);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav div {
    background: var(--christmasRed);
}

nav h1 {
    background: var(--christmasRed);
    color: var(--snowWhite);
    font-size: 2rem;
    align-self: center;
    margin-right: var(--mdSpacer);
}

h1 a {
    background: var(--christmasRed);
    color: var(--snowWhite);
    text-decoration: none;
}

.fa-bars {
    font-size: 3rem;
    color: var(--snowWhite);
    background: var(--christmasRed);
}

.fa-facebook {
    font-size: 3rem;
    color: var(--snowWhite);
    background: var(--pineGreen);
}

.fa-instagram {
    font-size: 3rem;
    color:var(--snowWhite);
    background: var(--pineGreen);
}

/**
    Her gemmer vi checkboksen, så den lille checkboks ikke viser sig.
*/

input[type=checkbox] {
    display: none;
}

/* Click to expand button */

label {
    display: inline-block;
    width: 100px;
    height: 75px;
    background-color: var(--christmasRed);
    padding: 15px 20px;

    cursor: pointer;
    text-align: center;
}

/*  Vi vil ikke have at ul bliver vist når checkboksen ikke er tjekket, derfor vil vi sætte den til display none */

.dropdown ul {
    display: none;

    position: absolute;
    list-style: none;
    text-align: left;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: .5px solid var(--snowWhite);
}

.dropdown ul li {
    padding: var(--lrgSpacer);
    background-color: var(--christmasRed);
    color: var(--snowWhite);
    cursor: pointer;
    border: .5px solid var(--snowWhite);
}


.dropdown ul li a {
    background: var(--christmasRed);
    color: inherit;
    text-decoration: none;
    font-size: var(--mdSpacer);
}

/**
Nu targetter vi så input elementet med type=checkboks når checkboksen er chekced, det gør at vi kan ændre hvordan elementerne skal vises alt efter om den er checket af eller ej.

Alt efter hvad vi gerne vil ændre bruger vi "altid" input[type=checkbox]:checked. ~ fortæller at det er en søskende til vores input.

*/

input[type=checkbox]:checked~label {
    background-color: var(--christmasRed);
}

input[type=checkbox]:checked~ul {
    display: block;
}

footer {
    background:var(--pineGreen);
    height: 260px;
    width: 100%;
    z-index: 9999999999999999999999999;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: var(--lrgSpacer);
    padding-bottom: var(--lrgSpacer);
}

footer a {
    color: var(--snowWhite);
    background: var(--pineGreen);
}

footer p {
    text-align: center;
    background: var(--pineGreen);
}





@media screen and (min-width:1000px) {
    /* Genreal CSS */
    p {
        font-size: var(--mdSpacer);
    }

    main *{
        font-size: 110%;
    }

    .eventMain h3{
        text-align: center;
    }

    .event img{
        padding: var(--lrgSpacer);
        background-color: var(--pineGreen);
        align-self: center;
    }

        .event{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--pineGreen);
        margin: var(--lrgSpacer) 0;
        padding: var(--lrgSpacer);
    }

        .event:nth-of-type(odd) img{
        grid-column: 2;
    }
    
        .event:nth-of-type(odd) div{
        grid-column: 1;
        grid-row: 1;
    }

        .event:nth-of-type(even) img{
        grid-column: 1;
    }


.eventDiv{
    grid-column: 2;
}

    /* Her koder Arni */

    .introtext{
        margin: var(--lrgSpacer);
        padding: var(--lrgSpacer);
        background: var(--christmasRed);
    }

    .introtext h1{
        text-align: center;
        background: var(--christmasRed);
    }

    .introtext p {
        background: var(--christmasRed);
    }

    .eventlink{
        background: var(--christmasRed);
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--mdSpacer);
        padding: var(--lrgSpacer);
    }

    .eventlink .eventimage{
        display: block;
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .eventlink a:nth-of-type(1){
        display: inline;
        background: var(--golden);
        grid-column: 2;
        grid-row: 3;
        margin: var(--smSpacer) var(--lrgSpacer);
        border-radius: 6px;
    }

    .eventlink a:nth-of-type(2){
        display: none;
    }

    .eventlink p {
        display: block;
        grid-column: 2;
        grid-row: 2;
        padding: var(--lrgSpacer);
        align-self: flex-start;
        background: var(--christmasRed);
    }

    .eventlink h2 {
        display: block;
        grid-column: 2;
        grid-row: 1;
        background: var(--christmasRed);
        text-align: center;
    }

    .infolink {
         background: var(--pineGreen);
         display: grid;
         height: 100%;
         grid-template-columns: repeat(2, 1fr);
         gap: var(--mdSpacer);
         padding: var(--lrgSpacer);
     }

     .infolink .infoimage{
        display: block;
        grid-column: 2;
        grid-row: 1 / 7;
     }

    .infolink a:nth-of-type(2){
        display: none;
    }

    .infolink a:nth-of-type(1){
        display: inline;
        background: var(--golden);
        grid-column: 1;
        grid-row: 6;
        margin: var(--smSpacer) var(--lrgSpacer);
        border-radius: 6px;
    }

    .infolink h2{
        display: block;
        grid-column: 1;
        grid-row: 1;
        background-color: var(--pineGreen);
        text-align: center;
    }

    .infolink p{
        background-color: var(--pineGreen);
    }

    .infolink p:nth-of-type(1){
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
        display: block;
    }

    .infolink p:nth-of-type(2){
        display: block;
        margin: 0;
        grid-column: 1;
        grid-row: 3;
    }
    
    .infolink p:nth-of-type(3){
        grid-column: 1;
        grid-row: 5;
        display: block;
    }

    .infolink ul{
        display: block;
        margin: 0;
        background-color: var(--pineGreen);
        grid-column: 1;
        grid-row: 4;
    }

    .infolink ul li{
        background-color: var(--pineGreen);
        color: var(--snowWhite);
    }

    .buffetlink{
        background: var(--christmasRed);
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--mdSpacer);
        padding: var(--lrgSpacer);
    }

    .buffetlink .buffetimage{
        display: block;
        grid-column: 1;
        grid-row: 1 / 7;
    }

    .buffetlink a:nth-of-type(2){
        display: none;
    }


    .buffetlink p{
        display: block;
        grid-column: 2;
        margin: 0;
        background: var(--christmasRed);
    }

    .buffetlink ul{
        display: block;
        grid-column: 2;
        background-color: var(--christmasRed);
        margin: 0;
    }

    .buffetlink ul li{
        background-color: var(--christmasRed);
        color: var(--snowWhite);
    }

    .buffetlink h2{
        display: block;
        grid-column: 2;
        background-color: var(--christmasRed);
        text-align: center;
    }

    .buffetlink a:nth-of-type(1){
        display: inline;
        grid-column: 2;
        background: var(--golden);
        margin: var(--smSpacer) var(--lrgSpacer);
        border-radius: 6px;
    }

    .arkadelink{
        background: var(--pineGreen);
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--mdSpacer);
        padding: var(--lrgSpacer);
    }

    .arkadelink .arkadeimage{
        display: block;
        grid-column: 2;
        grid-row: 1 / 7;
    }

    .arkadelink a:nth-of-type(2){
        display: none;
    }
    
    .arkadelink a:nth-of-type(1){
        display: block;
        grid-column: 1;
        background: var(--golden);
        margin: var(--smSpacer) var(--lrgSpacer);
        border-radius: 6px;
    }

    .arkadelink h2{
        display: block;
        text-align: center;
        background-color: var(--pineGreen);
    }

    .arkadelink p{
        display: block;
        grid-column: 1;
        margin: 0;
    }

    .arkadelink ul{
        display: block;
        background-color: var(--pineGreen);
        grid-column: 1;
    }

    .arkadelink ul li{
        background-color: var(--pineGreen);
        color: var(--snowWhite);
    }

    .arkadelink p{
        background-color: var(--pineGreen);
    }





    /* Her koder Noah */
@media screen and (min-width:700px) {
.billetter h2 {
    background: var(--christmasRed);
}

.billetter-info p{
    background: var(--pineGreen);
}

.billetter-info h4 {
    background: var(--pineGreen);
}

.praktisk-info p {
    background: var(--pineGreen);
}
    .hero-section .overlay {
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--christmasRed);
        padding: var(--mdSpacer) var(--mdSpacer);
        border-radius: 0px;
        text-align: center;
        color: var(--snowWhite);
        font-weight: bold;
        margin: 0;
        width: 400px;
        height: 75px;
        font-size: 1.5rem;
        text-align: center;
        position: center;
    }

    @media screen and (min-width:700px) {}

    .mj-boks {
        display: none;
    }

    .mj-boks-hvad-er-mj {
        display: block;
        background-color: var(--christmasRed);
        color: var(--snowWhite);
        text-align: center;
        padding: 1rem;
        width: 100%;
    }


    @media screen and (min-width: 700px) {

        .grøn-boks-desktop-1 {
            display: flex;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 2rem;
            background-color: var(--pineGreen);
            color: var(--snowWhite);
            margin: 2rem auto;
            max-width: 100%;
            align-items: center;
            border-radius: 8px;
        }

        .grøn-boks-desktop-1 .text {
            padding: 1rem;
        }

        .grøn-boks-desktop-1 .image img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .grøn-boks-desktop-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 2rem;
            background-color: var(--pineGreen);
            color: var(--snowWhite);
            margin: 2rem auto;
            max-width: 100%;
            align-items: center;
            border-radius: 8px;
        }



        .grøn-boks-desktop-2 .text {
            padding: 1rem;
        }

        .grøn-boks-desktop-2 .image img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }


    .billetter {
        display: none;
        background-color: var(--christmasRed);
        color: var(--snowWhite);
        text-align: center;
        padding: 1rem;
        width: 100%;
    }

    .billetter-info {
        display: none;
    }

}


.grøn-boks {
    background-color: var(--pineGreen);
    color: var(--snowWhite);
    padding: 1rem;
    margin: 1rem;
    margin-left: none;
    padding-left: none;
    border-radius: 8px;
    text-align: left;
    display: block;
}

button {
    color: var(--golden);
    background: var(--golden);
    text-align: center;
    background-position: center;
    cursor: pointer;
    margin: 1rem;
    position: center;
    margin-left: 7rem;
    width: 10rem;

}

.grøn-boks {
    background-color: var(--pineGreen);
    color: var(--snowWhite);
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: left;
    display: block;
}

.grøn-boks li {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.box {
    width: 100%;
    height: 3rem;
    background-color: var(--christmasRed);
    margin-top: 1rem;
    text-align: center;
}

.box button {
    margin-right: 5rem;
    margin-bottom: -10rem;
    position: center;
}

@media (max-width: 768px) {
    .mj-boks-hvad-er-mj {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .billetter {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .billetter {
        display: block;
    }


}

@media screen and (min-width: 700px) {
    .indgang-billede {
        display: none;
    }
}

    @media screen and (min-width: 700px) {
        .billetter-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            background-color: var(--pineGreen);
            color: var(--snowWhite);
            padding: 2rem;
            margin: 2rem 0;
            border-radius: 8px;
        }

        .billetter-text {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        .billetter-text h3,
        .billetter-text h4 {
            color: var(--snowWhite);
            margin-bottom: 0.5rem;
        }

        .billetter-text p {
            margin-bottom: 1.5rem;
        }

        .billetter-images {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .billetter-images img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }

    @media screen and (min-width: 700px) {
        .praktisk-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            background-color: var(--pineGreen);
            color: var(--snowWhite);
            padding: 2rem;
            margin: 2rem 0;
            border-radius: 8px;
        }

        .praktisk-info-tekst {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        .praktisk-info-tekst ul {
            font-weight: 100;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight:

        }

        .praktisk-info-tekst p {
            margin-bottom: 2em;
            font-size: 1.1rem;
        }

        .praktisk-info-images {
            display: flex;
            flex-direction: column;
            gap: 5rem;

        }

        .praktisk-info-images img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }

    @media screen and (min-width: 700px) {


        .grøn-boks {
            display: none;
        }

        @media screen and (min-width: 700px) {


            @media screen and (min-width: 700px) {


                .overflydende-billeder-desktop {
                    display: none;
                }
            }
            }





    /* Her koder Rikke */
.rMenu1 {
    display: grid;
    grid-template-columns: (2,1fr);
}

.rMenu1 ul:nth-of-type(1) {
    grid-column: 1;
}

.rMenu1 ul:nth-of-type(2) {
    grid-column: 2;
}

.rMenu1 p:nth-of-type(1) {
    grid-column: 1;
}

.rMenu1 p:nth-of-type(2) {
    grid-column: 1;
}

.rMenu1 p:nth-of-type(3) {
    grid-column: 2;
}

.rMenu2{
    max-width: 80vw;
    align-self: center;
    padding: var(--smSpacer);
}

.center{
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.menuVenstre {
    padding-right: var(--smSpacer);
}

.rMenu2 div:nth-of-type(odd) {
    margin-right: var(--lrgSpacer);
}

.rMenu2 div:nth-of-type(even) {
    margin-left: var(--lrgSpacer);
}

.menuHojre {
    padding-left: var(--smSpacer);
}

        label {
            display: none;
        }
    
        .dropdown {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            background: var(--christmasRed);
        }
    
        .dropdown ul {
            display: contents;
        }
    
        .dropdown ul li {
            border: none;
        }
}
}